{{ define "main" }}
<header>
    {{ block "top-nav" . }}{{ partial "top-nav" . }}{{end}}
</header>
<main class="container">
    <article class="character-profile">
        <header class="character-header">
            <p class="pre-title">Henkilöhahmot:</p>
            <h1>{{ .Title }}</h1>
            {{ $iconPath := printf "icons/character-icons/%s" .Params.symbol }}
            {{ $partialPath := printf "partials/%s.html" $iconPath }}
            {{ if templates.Exists $partialPath }}
                {{ partial $iconPath . }}
            {{ else }}
                {{ if .File }}
                    {{ warnf "Partial '%s' not found. File path: %s" $iconPath .File.Path }}
                {{ end }}
            {{ end }}
            <p class="pre-title">Ensitapaaminen</p>
            {{ if .Params.date }}
                <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ time.Format "Mon 2.1.2006" .Params.date}}</time>
            {{ end }}
        </header>
        <section class="character-content">
            {{ .Content }}
        </section>
    </article>
    <section class="related-content">
        <h2>Jaksot, joissa {{ .Title }} on mukana</h2>
        <p class="articles">{{ len .Pages }} artikkelia</p>
        <div class="taxonomy-article-cards">
            {{ range .Pages }}
                {{ partial "article-card-compact" . }}
            {{ end }}
        </div>
    </section>
</main>

{{ block "bottom-nav" . }}{{ partial "bottom-nav" . }}{{end}}

{{ end }}
