.article-card {
  display: grid;
  grid-template-columns: calc(40% - 0.5rem) calc(60% - 0.5rem);
  grid-gap: 1rem;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &.first-article {
    grid-template-columns: calc(75% - 0.5rem) calc(25% - 0.5rem);
    margin-bottom: 4rem;

    @media only screen and (max-width: 664px) {
      grid-template-columns: 100%;
    }
  }

  .article-card-image {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/10; // bogus aspect ratio to ensure images are not taller than text next to them
    object-fit: cover;
  }

  .article-card-summary-container {
    position: relative;

    .time {
      display: block;
      font-family: $header-font;
      text-transform: uppercase;
      margin: 0;
      font-size: 0.9rem;
    }

    .reading-time {
      margin: 0 0 0.8rem;
      font-size: 0.9rem;
    }

    .summary {
      margin: 0;
      font-size: 0.9rem;
    }

    h2 {
      margin: 0.25rem 0;
      font-size: 1.3rem;
      overflow-wrap: break-word;
    }

    .read-more {
      display: inline-block;
      font-family: $header-font;
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }

  p,
  span,
  h2,
  time {
    background: transparent;
  }

  &:hover {
    transform: scale(1.02, 1.02);

    p,
    span,
    h2,
    time {
      background: var(--local-gradient);
      @include gradient-text;
    }

    .article-card-image {
      filter: brightness(1.2);
    }
  }

  &:last-of-type {
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    margin-bottom: 4rem;

    .article-card-banner {
      aspect-ratio: 16/10;
    }
  }
}

.article-card-compact {
  position: relative;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.02, 1.02);

    .article-card-compact-image {
      filter: brightness(1.2);
    }
  }

  .article-card-compact-content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.9);

    .date {
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;
      font-size: 1rem;
      font-family: $header-font;
      font-weight: 700;
    }

    h3 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .article-card-compact-image {
    display: block;
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
  }
}

.character-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  row-gap: 2.5rem;

  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }

  .character-card {
    position: relative;
    display: block;
    padding: 2rem;
    border-radius: $border-radius;
    position: relative;
    transition: all 0.1s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px dashed #000;
      border-radius: $border-radius;
      background-color: #FFF;
      -webkit-mask:
        linear-gradient(#000 0 0) padding-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: destination-out;
      mask:
        linear-gradient(#000 0 0) padding-box,
        linear-gradient(#000 0 0);
      mask-composite: exclude;
      pointer-events: none;
    }

    .read-more {
      font-family: $header-font;
      text-transform: uppercase;
    }

    .headline-container {
      h3 {
        text-align: center;
        font-size: 2rem;
        margin: 0 0 0 0;
      }

      .svg-container {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          height: 3.5rem;
          margin: 1rem;
          overflow: visible;

          path {
            fill: #fff;
          }
        }
      }
    }

    &:hover {
      transform: scale(1.02, 1.02);

      &::before {
        border-color: #000000;
        background: var(--local-gradient) border-box;
      }

      h3,
      p {
        background: var(--local-gradient);
        @include gradient-text;
      }

      .svg-container svg path {
        fill: var(--local-svg-gradient);
      }
    }
  }
}