.single-header {
  .title-container {
    margin: 2rem auto;
    max-width: 850px;
    .main-title {
      text-align: center;
      display: block;
      font-size: 2rem;
      padding: 0 1rem;
      margin: 0 0 1rem 0;
    }
    .episode-number {
      text-align: center;
      text-transform: uppercase;
      font-family: $header-font;
      font-size: 1.1rem;
      font-weight: 400;
    }
    .main-subtitle {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: $header-font;
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
  .hero {
    position: relative;
    aspect-ratio: 16/10;
    width: calc(100% - 2rem);
    max-width: 768px;
    display: block;
    margin: 0 auto 3rem;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(1.02, 1.02);
    }
    @media only screen and (max-width: 600px) {
      aspect-ratio: auto;
    }
  }
}

.content {
  margin: 0 auto 3rem;
  padding: 0 1rem;
  p, ul, ol {
    max-width: 640px;
    font-size: 1rem;
    margin: 0 auto 1.2rem;
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 650px;
    margin: 2rem auto 1rem;
    color: #FFF;
  }
  h2 {
    font-size: calc(1rem + 1.2vw);
    line-height: 1.4;
  }
  a {
    text-decoration: underline;
  }
  .no-underline {
    text-decoration: none;
  }
}
