.single-header {
  @media only screen and (max-width: 856px) {
    overflow: hidden;
  }
  .title-container {
    margin: 2rem auto;
    max-width: 850px;
    .main-title {
      text-align: center;
      display: block;
      font-size: 2rem;
      padding: 0 1rem;
      margin: 0 0 1rem 0;
    }
    .episode-number {
      text-align: center;
      text-transform: uppercase;
      font-family: $header-font;
      font-size: 1.1rem;
      font-weight: 400;
    }
    .main-subtitle {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: $header-font;
      font-size: 1.1rem;
      font-weight: 400;
    }
  }
  .hero-container {
    position: relative;
    display: block;
    background: var(--gradient);
    background-size: cover;
    max-width: 768px;
    margin: 0 auto 3rem;
    border-radius: $border-radius;
    transition: all 0.1s ease-in-out;
    .stamp {
      position: absolute;
      top: -2.5rem;
      right: -2.5rem;
      height: 8rem;
      transform: rotate(17.5deg);
      filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
      path {
        fill: #FFF;
      }
      ellipse {
        stroke: #FFF; 
      }
      @media only screen and (max-width: 856px) {
        top: -1.5rem;
        right: -0.75rem;
        height: 6rem;
      }
    }
    .hero {
      aspect-ratio: 16/10;
      width: 100%;
      display: block;
      object-fit: cover;
    }
    &:hover {
      transform: scale(1.02, 1.02);
      background: none;
    }
  }
}

.content {
  margin: 0 auto 3rem;
  padding: 0 1rem;
  p, ul, ol {
    max-width: 640px;
    font-size: 1rem;
    margin: 0 auto 1.2rem;
  }
  h1, h2, h3, h4, h5, h6 {
    max-width: 650px;
    margin: 2rem auto 1rem;
    color: #FFF;
  }
  h2 {
    font-size: calc(1rem + 1.2vw);
    line-height: 1.4;
  }
  a {
    position: relative;
    text-decoration: underline;
  }
  .no-underline {
    text-decoration: none;
  }
}
