@import "constants";
@import "fonts";
@import "tags";
@import "weather";
@import "single";
@import "nav";
@import "form";
@import "taxonomies";
@import "characters";
@import "song";

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 1rem;
  .articles {
    font-family: $header-font;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }
}

.list-header {
  position: relative;
  .header-link {
    position: relative;
    min-height: 20rem;
    max-height: 40rem;
    width: calc(100% - 2rem);
    max-width: 768px;
    display: block;
    margin: auto;
    padding: 0 1rem;
    aspect-ratio: 16/10;
    .hero {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      object-fit: cover;
    }
    .list-header-title-container {
      position: absolute;
      top: 2rem;
      left: 1.5rem;
      .main-title {
        text-align: left;
        display: block;
        font-size: 2rem;
        padding: 0 1rem;
        margin: 0;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.4),
               0 0 2px rgba(0, 0, 0, 0.3),
               0 0 3px rgba(0, 0, 0, 0.2),
               0 0 5px rgba(0, 0, 0, 0.1);
      }
      .main-subtitle {
        text-align: left;
        text-transform: uppercase;
        font-family: $header-font;
        font-size: 1.1rem;
        margin: 1rem;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.4),
               0 0 2px rgba(0, 0, 0, 0.3),
               0 0 3px rgba(0, 0, 0, 0.2),
               0 0 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.article-card {
  display: grid;
  grid-template-columns: calc(40% - 0.5rem) calc(60% - 0.5rem);
  grid-gap: 1rem;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in-out;

  &.first-article {
    grid-template-columns: calc(75% - 0.5rem) calc(25% - 0.5rem);
    margin-bottom: 4rem;
    @media only screen and (max-width: 664px) {
      grid-template-columns: 100%;
    }
  }
  
  .article-card-banner {
    height: 100%;
    width: 100%;
    aspect-ratio: 2/1; // bogus aspect ratio to ensure images are not taller than text next to them
    object-fit: cover;
    transition: filter 0.2s ease-in-out;
  }
  .article-card-summary-container {
    position: relative;
    .time {
      display: block;
      font-family: $header-font;
      text-transform: uppercase;
      margin: 0;
      font-size: 0.9rem;
    }
    .reading-time {
      margin: 0 0 0.8rem;
      font-size: 0.9rem;
    }
    .summary {
      margin: 0;
      font-size: 0.9rem;
    }
    h2 {
      margin: 0.25rem 0;
      font-size: 1.3rem;
      overflow-wrap: break-word;
    }
    .read-more {
      display: inline-block;
      font-family: $header-font;
      text-transform: uppercase;
      margin-top: 1rem;
    }
  }
  &:hover {
    transform: scale(1.02, 1.02);
    p, span, h2, time {
      color: $hover-color;
      background: $hover-color;
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent; 
    }
    .article-card-banner {
      filter: brightness(1.2);
    }
  }
  &:last-of-type {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
    margin-bottom: 4rem;
    .article-card-banner {
      aspect-ratio: auto;
    }
  }
}

.row {
  max-width: 850px;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-flow: row wrap;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.bottom-nav {
  height: 100%;
  h2 {
    font-family: $header-font;
  }
  .bottom-grid {
    display: grid;
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    gap: 2rem;
    @media only screen and (max-width: 500px) {
      grid-template-columns: 100%;
    }
  }
  .article-card {
    display: block;
    .article-card-banner {
      display: block;
      aspect-ratio: 16/10;
      margin-bottom: 1rem;
    }
    .read-more {
      position: absolute;
      bottom: -2rem;
    }
  }
}

.footer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h2 {
    font-size: 1rem;
    margin: 0;
  }
  p {
    font-size: 2rem;
    font-family: $header-font;
    margin: 0;
  }
}

.pagination-container {
  margin-top: 4rem;
  .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    .page-item {
      list-style-type: none;
      a {
        padding: 0.5rem 1rem;
        border: 1px solid #FFFFFF;
      }
      &.active {
        a {
          background-color: #FFFFFF;
          color: #333333;
        }
      }
      &.disabled {
        a {
          opacity: 0.52;
        }
      }
      &:not(.active):not(.disabled):hover {
        a {
          background-color: $hover-color;
        }
      }
      &:first-of-type {
        a {
          border-radius: 0.5rem 0 0 0.5rem;
        }
      }
      &:last-of-type {
        a {
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }
    }
  }
}