{{ $page := . }}
{{ $isFirst := false }}

{{ $isDict := eq (printf "%T" .) "map[string]interface {}" }}

{{ if $isDict }}
  {{ $page = .context }}
  {{ $isFirst = .first | default false }}
{{ end }}

<a class="article-card no-underline{{ if $isFirst }} first-article{{ end }}" 
   href="{{ $page.RelPermalink }}" 
   style="--local-gradient: linear-gradient(45deg, {{ $page.Params.palette | safeCSS }});">
  {{ if $page.Params.banner }}
    {{ if $isFirst }}
      {{ partial "responsive-image.html" (dict "class" "article-card-image" "src" $page.Params.banner "alt" "" "sizes" "(max-width: 600px) calc(100vw - 2rem), 568px") }}
    {{ else }}
      {{ partial "responsive-image.html" (dict "class" "article-card-image" "src" $page.Params.banner "alt" "" "sizes" "(max-width: 600px) calc(100vw - 2rem), 300px") }}
    {{ end }}
  {{ end }}
  <div class="article-card-summary-container">
    <time class="time" datetime="{{ $page.Params.date }}">
      <strong>{{ time.Format "Mon 2.1.2006" $page.Date }}</strong>
    </time>
    <h2>{{ $page.Title }}</h2>
    <p class="reading-time">
      {{ $readingTime := math.Ceil (div ($page.Content | countwords) 200.0) }}
      <i>Lukuaika {{ $readingTime }} minuutti{{ if not (eq 1 (int $readingTime)) }}a{{ end}}</i>
    </p>
    <p class="summary">{{ $page.Content | plainify | strings.Truncate 190 }}</p>
    <span class="read-more"><strong>Lisää&nbsp;→</strong></span>
  </div>
</a>