<aside class="container character-showcase">
    <h2>Tässä jaksossa mukana</h2>
    <div class="character-grid">
        {{ range .Params.henkilöhahmot }}
            {{ with site.GetPage (printf "/henkilöhahmot/%s" .) }}
                <a href="{{ .RelPermalink }}" class="character">
                    <div class="svg-container">
                        {{ $iconPath := printf "icons/%s" .Params.symbol }}
                        {{ $partialPath := printf "partials/%s.html" $iconPath }}
                        {{ if templates.Exists $partialPath }}
                            {{ partial $iconPath . }}
                        {{ else }}
                            {{ if .File }}
                                {{ warnf "Partial '%s' not found. File path: %s" $iconPath .File.Path }}
                            {{ end }}
                        {{ end }}
                    </div>
                    <h3>{{ .Title }}</h3>
                </a>
            {{ end }}
        {{ end }}
    </div>
</aside>