<aside class="container character-showcase">
    <h2>Tässä jaksossa mukana</h2>
    <div class="character-grid">
        {{ range .Params.henkilöhahmot }}
            {{ with site.GetPage (printf "/henkilöhahmot/%s" .) }}
                <a href="{{ .RelPermalink }}" class="character" data-gradient="{{ .RelPermalink | md5 }}">
                    {{ if .Params.palette }}
                        {{ $color1 := index (split .Params.palette ",") 0 }}
                        {{ $color2 := index (split .Params.palette ",") 1 }}
                        {{ $color3 := index (split .Params.palette ",") 2 }}
                        <style>
                            .character[data-gradient="{{ .RelPermalink | md5 }}"] {
                                --local-gradient: linear-gradient(90deg, {{ $color1 }}, {{ $color2 }}, {{ $color3 }}, {{ $color1 }});
                                --local-svg-gradient: url(#local-gradient-{{ .RelPermalink | md5 }});
                            }
                        </style>
                    {{ end }}
                    <div class="svg-container">
                        {{ $iconPath := printf "icons/character-icons/%s" .Params.symbol }}
                        {{ $partialPath := printf "partials/%s.html" $iconPath }}
                        {{ if templates.Exists $partialPath }}
                            {{ partial $iconPath . }}
                        {{ else }}
                            {{ if .File }}
                                {{ warnf "Partial '%s' not found. File path: %s" $iconPath .File.Path }}
                            {{ end }}
                        {{ end }}
                    </div>
                    <h3>{{ .Title }}</h3>
                </a>
            {{ end }}
        {{ end }}
    </div>
</aside>