<a class="h-card no-underline index-card" href="{{ .RelPermalink }}">
  {{ if .Params.banner }}
    {{ partial "responsive-image.html" (dict "class" "h-card-banner" "src" .Params.banner "alt" "Thumbnail image" "sizes" "(max-width: 664px) calc(100vw - 2rem), 530px") }}
  {{ end }}
  <div class="h-card-summary-container">
    <p class="time">
      <strong>{{ time.Format "Mon 2.1.2006" .Params.date }}</strong>
    </p>
    <h2>{{ .Title }}</h2>
    <p class="reading-time">
      {{ $readingTime := math.Ceil (div (.Content | countwords) 200.0) }}
      <i>Lukuaika {{ $readingTime }} minuutti{{ if not (eq 1 (int $readingTime)) }}a{{ end}}</i>
    </p>
    <p class="summary">{{ .Content | plainify | strings.Truncate 200 }}</p>
    <span class="read-more"><strong>Lisää&nbsp;→</strong></span>
  </div>
</a>

