{{ if .Params.banner }}
  <header class="list-header">
    {{ $dirname := path.Dir .Params.banner }}
    {{ $basename := replaceRE "\\.[^.]+$" "" (path.Base .Params.banner) }}
    {{ $url := printf "%s/%s/%s" .Site.Params.staticurl $dirname $basename }}
    <a 
      class="header-link" 
      href="{{ $url }}-2560w.avif" 
      aria-label="Täysikokoinen kuva"
    >
      {{ partial "responsive-image.html" (dict "class" "hero" "src" .Params.banner "alt" "" "sizes" "(max-width: 768px) calc(100vw - 2rem), 768px") }}
      <div class="list-header-title-container">
        <h1 class="main-title">{{ .Title }}</h1>
        <p class="main-subtitle">
          <strong>
            {{ .Params.subtitle }}
          </strong>
        </p>
      </div>
    </a>
  </header>
{{ end }}