{{ if .Params.banner }}
    <header>
        {{ block "top-nav" . }}{{ partial "top-nav" . }}{{end}}
        {{ if not .Params.useNavHeadline }}
            <div class="title-container">
                <p class="episode-number">
                    {{ $episodeNumber := partial "ep-number" . }}
                    {{ $episodeNumber }}:
                </p>
                <h1 class="main-title">{{ .Title }}</h1>
                {{ if .Params.date }}
                    <a href="https://translate.google.com/translate?hl=&sl=fi&tl=en&u=https://xn--mieslnnest-u5af.fi{{ .RelPermalink }}">
                        <p class="main-subtitle">
                            {{ time.Format "Monday 2. January 2006" .Params.date}}
                        </p>
                    </a>
                {{ else }}
                    <p class="main-subtitle">
                        <strong>
                            {{ .Params.subtitle }}
                        </strong>
                    </p>
                {{ end }}
            </div>
        {{ end }}
        {{ $dirname := path.Dir .Params.banner }}
        {{ $basename := replaceRE "\\.[^.]+$" "" (path.Base .Params.banner) }}
        {{ $url := printf "%s/%s/%s" .Site.Params.staticurl $dirname $basename }}
        <a href="{{ $url }}-2560w.avif" aria-label="Täysikokoinen kuva">
            {{ partial "responsive-image.html" (dict "class" "hero" "src" .Params.banner "alt" "" "sizes" "(max-width: 768px) calc(100vw - 2rem), 768px") }}
        </a>
    </header>
{{ end }}