{{ define "main" }}

<main>
  {{ partial "header-index" . }}
  <section class="container index">

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "osa-iv") }}
  
    {{ range $index, $page := $paginator.Pages }}
      {{ if and (eq $index 0) (eq $paginator.PageNumber 1) }}
        <!-- This is the first element on the first page, apply special appearance -->
        <p class="articles">Uusin</p>
        {{ partial "article-card" (dict "context" . "first" true) }}
        <p class="articles">Vanhemmat</p>
      {{ else }}
        {{ partial "article-card" . }}
      {{ end }}
    {{ end }}
  </section>
    <div class="pagination-container">
      {{ partial "pagination.html" . }}
    </div>
</main>

{{ end }}