{{ define "header" }}

  {{ partial "header-index" . }}

{{ end }}

{{ define "main" }}

<div class="container index">
  <p class="articles">Uusin</p>

  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "osa-iv") }}

  {{ range $index, $page := $paginator.Pages }}
    {{ if and (eq $index 0) (eq $paginator.PageNumber 1) }}
      <!-- This is the first element on the first page, apply special appearance -->
      {{ block "h-card-index" . }}{{ partial "h-card-index" . }}{{ end }}
      <p class="articles">Vanhemmat</p>
    {{ else }}
      <!-- This is not the first element on first page, apply regular appearance -->
      {{ block "h-card" . }}{{ partial "h-card" . }}{{ end }}
    {{ end }}
  {{ end }}

  <div class="pagination-container">
    {{ partial "pagination.html" . }}
  </div>
</div>

{{ end }}