{{ $images := split (.Get "src") ";" }}
<div class="row">
  {{ range $images }}
    {{ $arg := split . ":" }}
    {{ $image := index $arg 0 }}
    {{ $label := index $arg 1 }}

    {{ $dirname := path.Dir $image }}
    {{ $basename := replaceRE "\\.[^.]+$" "" (path.Base $image) }}
    {{ $url := printf "%s/%s/%s" site.Params.staticurl $dirname $basename }}
    <a href="{{ $url }}-2560w.avif" class="no-underline">
      <figure>
        {{ partial "responsive-image.html" (dict "class" "blog-picture" "src" $image "alt" $label "sizes" "(max-width: 768px) calc(100vw - 2rem), 768px") }}
        {{ with $label }}<figcaption>{{ $label }}</figcaption>{{ end }}
      </figure>
    </a>
  {{ end }}
</div>
